<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sju.program.mapper.ProjectMapper">
    
    <resultMap type="Project" id="ProjectResult">
        <result property="projectId"    column="project_id"    />
        <result property="projectName"    column="project_name"    />
        <result property="projectLocation"    column="project_location"    />
        <result property="projectLongLat"    column="project_long_lat"    />
        <result property="projectManger"    column="project_manger"    />
        <result property="projectPhone"    column="project_phone"    />
        <result property="projectBuilderName"    column="project_builder_name"    />
        <result property="projectBuilderId"    column="project_builder_id"    />
        <result property="projectTrafficStaffId"    column="project_traffic_staff_id"    />
        <result property="projectFinishedFlag"    column="project_finished_flag"    />
        <result property="projectDeleteFlag"    column="project_delete_flag"    />
    </resultMap>

    <sql id="selectProjectVo">
        select project_id, project_name, project_location, project_long_lat, project_manger, project_phone, project_builder_name, project_builder_id, project_traffic_staff_id, project_finished_flag, project_delete_flag from project
    </sql>

    <sql id="selectProjectPI">
        select project_id, project_name, project_location, project_long_lat, project_manger, project_phone, project_builder_name, project_builder_id, project_traffic_staff_id from project
    </sql>

    <select id="selectProjectList" parameterType="Project" resultMap="ProjectResult">
        <include refid="selectProjectVo"/>
        where project_delete_flag!=1
        <!--<where>
        <where>
            <if test="projectName != null  and projectName != ''"> and project_name like concat('%', #{projectName}, '%')</if>
            <if test="projectLocation != null  and projectLocation != ''"> and project_location = #{projectLocation}</if>
            <if test="projectLongLat != null  and projectLongLat != ''"> and project_long_lat = #{projectLongLat}</if>
            <if test="projectManger != null  and projectManger != ''"> and project_manger = #{projectManger}</if>
            <if test="projectPhone != null  and projectPhone != ''"> and project_phone = #{projectPhone}</if>
            <if test="projectBuilderName != null  and projectBuilderName != ''"> and project_builder_name like concat('%', #{projectBuilderName}, '%')</if>
            <if test="projectBuilderId != null "> and project_builder_id = #{projectBuilderId}</if>
            <if test="projectTrafficStaffId != null "> and project_traffic_staff_id = #{projectTrafficStaffId}</if>
            <if test="projectFinishedFlag != null  and projectFinishedFlag != ''"> and project_finished_flag = #{projectFinishedFlag}</if>
            <if test="projectDeleteFlag != null  and projectDeleteFlag != ''"> and project_delete_flag = #{projectDeleteFlag}</if>
            <if test="projectUpdateFlag != null "> and project_update_flag = #{projectUpdateFlag}</if>
        </where>-->
    </select>
    
    <select id="selectProjectById" parameterType="Long" resultMap="ProjectResult">
        <include refid="selectProjectVo"></include>
        WHERE project_id = #{projectId}
    </select>

    <select id="selectProjectByName" parameterType="String" resultMap="ProjectResult">
        <include refid="selectProjectPI"/>
        where project_name = #{projectName}
    </select>

    <select id="selectProjectByBuilderId" parameterType="long" resultMap="ProjectResult">
        <include refid="selectProjectVo"></include>
        where project_builder_id = #{projectBuilderId}
    </select>

    <select id="selectAllProjectList"  resultMap="ProjectResult">
        <include refid="selectProjectVo"></include>
    </select>

    <select id="selectProjectByLocation" parameterType="String" resultMap="ProjectResult">
        <include refid="selectProjectPI"/>
        where project_location = #{projectLocation}
    </select>

    <select id="selectBuilderNameByprojectId" parameterType="Long" resultType="String">
        SELECT builder_username FROM builder
        LEFT JOIN project p ON builder.builder_id = p.project_builder_id
        where project_id = #{projectId}
    </select>

    <select id="selectProjectNameById" parameterType="Long" resultType="String">
        SELECT project_name FROM project
        where project_id = #{projectId}
    </select>




    <select id="searchProjectByManager" parameterType="String" resultMap="ProjectResult">
        <include refid="selectProjectPI"/>
        where project_manager = #{projectManager}
    </select>
        
    <insert id="insertProject" parameterType="Project" useGeneratedKeys="true" keyProperty="projectId">
        insert into project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectName != null">project_name,</if>
            <if test="projectLocation != null">project_location,</if>
            <if test="projectLongLat != null">project_long_lat,</if>
            <if test="projectManger != null">project_manger,</if>
            <if test="projectPhone != null">project_phone,</if>
            <if test="projectBuilderName != null">project_builder_name,</if>
            <if test="projectBuilderId != null">project_builder_id,</if>
            <if test="projectTrafficStaffId != null">project_traffic_staff_id,</if>
            <if test="projectFinishedFlag != null">project_finished_flag,</if>
            <if test="projectDeleteFlag != null">project_delete_flag,</if>

         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectName != null">#{projectName},</if>
            <if test="projectLocation != null">#{projectLocation},</if>
            <if test="projectLongLat != null">#{projectLongLat},</if>
            <if test="projectManger != null">#{projectManger},</if>
            <if test="projectPhone != null">#{projectPhone},</if>
            <if test="projectBuilderName != null">#{projectBuilderName},</if>
            <if test="projectBuilderId != null">#{projectBuilderId},</if>
            <if test="projectTrafficStaffId != null">#{projectTrafficStaffId},</if>
            "continue",
            "live"

         </trim>
    </insert>

    <update id="updateProject" parameterType="Project">
        update project
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectName != null">project_name = #{projectName},</if>
            <if test="projectLocation != null">project_location = #{projectLocation},</if>
            <if test="projectLongLat != null">project_long_lat = #{projectLongLat},</if>
            <if test="projectManger != null">project_manger = #{projectManger},</if>
            <if test="projectPhone != null">project_phone = #{projectPhone},</if>
            <if test="projectBuilderName != null">project_builder_name = #{projectBuilderName},</if>
            <if test="projectBuilderId != null">project_builder_id = #{projectBuilderId},</if>
            <if test="projectTrafficStaffId != null">project_traffic_staff_id = #{projectTrafficStaffId},</if>
            <if test="projectFinishedFlag != null">project_finished_flag = #{projectFinishedFlag},</if>
            <if test="projectDeleteFlag != null">project_delete_flag = #{projectDeleteFlag},</if>

        </trim>
        where project_id = #{projectId}
    </update>

    <update id="updateProjectById" parameterType="Long">
        update project SET project_delete_flag = 1
        where project_id = #{projectId}
    </update>
    <update id="updateProjectByIds" parameterType="String">
        UPDATE project SET project_delete_flag = "del" where project_id in
        <foreach item="projectId" collection="array" open="(" separator="," close=")">
            #{projectId}
        </foreach>
    </update>
    <delete id="deleteProjectById" parameterType="Long">
        delete from project where project_id = #{projectId}
    </delete>

    <delete id="deleteProjectByIds" parameterType="String">
        delete from project where project_id in
        <foreach item="projectId" collection="array" open="(" separator="," close=")">
            #{projectId}
        </foreach>
    </delete>

</mapper>