<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sju.program.mapper.TrafficeStaffMapper">
    
    <resultMap type="TrafficeStaff" id="TrafficeStaffResult">
        <result property="trafficId"    column="traffic_id"    />
        <result property="trafficName"    column="traffic_name"    />
        <result property="trafficPassword"    column="traffic_password"    />
        <result property="trafficDeleteFlag"    column="traffic_delete_flag"    />
    </resultMap>

    <sql id="selectTrafficeStaffVo">
        select traffic_id, traffic_name, traffic_password, traffic_delete_flag from traffice_staff
    </sql>

    <select id="selectTrafficeStaffList" parameterType="TrafficeStaff" resultMap="TrafficeStaffResult">
        <include refid="selectTrafficeStaffVo"/>
        WHERE traffic_delete_flag !="del"
    </select>

    <select id="selectAllTrafficeStaffList" resultMap="TrafficeStaffResult">
        <include refid="selectTrafficeStaffVo"></include>
        WHERE traffic_delete_flag !="del"
    </select>
    
    <select id="selectTrafficeStaffById" parameterType="Long" resultMap="TrafficeStaffResult">
        <include refid="selectTrafficeStaffVo"/>
        where traffic_id = #{trafficId} AND traffic_delete_flag !="del"
    </select>

    <select id="selectTrafficeStaffByUsername" parameterType="String" resultMap="TrafficeStaffResult">
        <include refid="selectTrafficeStaffVo"></include>
        WHERE traffic_name=#{trafficName} AND  traffic_delete_flag !="del"
    </select>

    <select id="checkUserNameUnique" parameterType="String" resultType="int">
        SELECT COUNT(1) FROM traffice_staff WHERE traffic_name=#{name}
    </select>
        
    <insert id="insertTrafficeStaff" parameterType="TrafficeStaff" useGeneratedKeys="true" keyProperty="trafficId">
        insert into traffice_staff
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="trafficName != null">traffic_name,</if>
            <if test="trafficPassword != null">traffic_password,</if>
            traffic_delete_flag

         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="trafficName != null">#{trafficName},</if>
            <if test="trafficPassword != null">#{trafficPassword},</if>
            "live"

         </trim>
    </insert>

    <insert id="saveTrafficeStaff" parameterType="TrafficeStaff">
        INSERT INTO traffice_staff (traffic_name, traffic_password, traffic_delete_flag)
        VALUES 
        <foreach collection="list" item="item" separator="," >
            (
            #{item.trafficName},#{item.trafficPassword},"live"
            )
        </foreach>
    </insert>

    <update id="updateTrafficeStaff" parameterType="TrafficeStaff">
        update traffice_staff
        <trim prefix="SET" suffixOverrides=",">
            <if test="trafficName != null">traffic_name = #{trafficName},</if>
            <if test="trafficPassword != null">traffic_password = #{trafficPassword},</if>
            <if test="trafficDeleteFlag != null">traffic_delete_flag = #{trafficDeleteFlag},</if>

        </trim>
        where traffic_id = #{trafficId}
    </update>

    <delete id="deleteTrafficeStaffById" parameterType="Long">
        delete from traffice_staff where traffic_id = #{trafficId}
    </delete>

    <update id="deleteTrafficeStaffByIds" parameterType="String">
        UPDATE  traffice_staff SET traffic_delete_flag="del" WHERE traffic_id in
        <foreach item="trafficId" collection="array" open="(" separator="," close=")">
            #{trafficId}
        </foreach>
    </update>
    
</mapper>